body {background-color:black; color: rgb(11, 128, 70);align-items: center;justify-content: center;}
nav {height: 6000px; width: 200px; float:left; padding: 5px; line-height: 30px;}
footer{text-align: center;margin-right: 200px;}
img{margin-right: 200px;}
header{text-align: center;}
html, body{height:90%; margin: 0;}

